.App {
  text-align: center;
}

body{
  font-family: 'Roboto',
  sans-serif;
}
.assist-req-form{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#input{
  margin-top: 2px;
  margin-bottom: 2px;
}

.assistant-req-checkbox{
  text-align: initial;
}
.required-label{
  color:red;
}
#textbox{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* #submit-button{
  margin-left:80%;
  margin-top:2.8%
} */