.App {
  text-align: center;
}

body{
  font-family: 'Roboto',
  sans-serif;
}
.assist-req-form{
  font-size: 16px;
  text-align: left;
  font-weight: bold;
}

#input{
  margin-top: 2px;
  margin-bottom: 2px;
}

.assistant-req-checkbox{
  text-align: initial;
}
.required-label{
  margin-left:90%;
  color:red;
}
#textbox{
  margin-top: 20px;
  margin-bottom: 20px;
}

#submit-button{
  margin-left:80%;
  margin-top:2.8%
}

/* .assistance-req-form-container {
  width: 611px;
  height: 500px;
  border-radius: 5px;
  font-family: Sofia-Pro;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  position: absolute;
  top: 10%;
  left: 40%;
  margin-top: 11%;
  margin-left: -25%;

} */
